<configuration  scan="true" scanPeriod="10 seconds" debug="true">

    <property resource="application.yml" />
    <appender name="FILEPATTERN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} | instanceId : [%X{instanceId}] | ${LOG_LEVEL_PATTERN:-%5p} | ${PID:- } | [%thread] | %logger{36} | %X{actualMethodName} %M  | %msg%n </pattern>
        </encoder>
          <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>
    

    <logger name="com.datastax.driver.core.QueryLogger.NORMAL" level="INFO"/>
    <logger name="com.datastax.driver.core.QueryLogger.SLOW" level="INFO"/>
    <logger name="com.datastax.driver.core.QueryLogger.ERROR" level="INFO"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.datastax" level="WARN"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.security" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="sun.rmi.transport" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="org.elasticsearch" level="INFO"/>
    <logger name="org.elasticsearch.indices.breaker.request" level="INFO"/>
    <logger name="org.springframework.ws.server.MessageTracing" level="trace" />
    <logger name="org.springframework.ws.client.MessageTracing" level="trace" />

    <root level="INFO">
        <appender-ref ref="FILEPATTERN" />
    </root>

</configuration>